html {
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #db3f59;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .calculator-container {
    max-width: 700px;
    width: 700px;
    padding: 20px;
  }
}
