html {
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #db3f59;
}

.app {
  display: flex;
  justify-content: center;

  .calculator-container {
    margin-top: calc(100vh / 5);
    max-width: 100%;
    width: 700px;
    padding: 20px;
    box-sizing: border-box;

    @media (max-width: 450px) {
      margin-top: 0;
    }
  }
}
